---
import LinkedinIcon from "../components/icons/LinkedIn.astro";
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import SocialPill from "../components/icons/SocialPill.astro";
import Mail from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import Section from "../components/Section.astro";
import BriefCase from "../components/icons/BriefCase.astro";
import GitHub from "../components/icons/GitHub.astro";
import Code from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
---

<Layout
	title="Portfolio de Samuel - Desarrollador y Programador Web"
	description="Contrata a Samuel para crear tu aplicación web o móvil. Desarrollador Web y Programador de confianza."
	>
	<main class="px-4">
		<Section class="py-44 pb-32">
			<h1
				class="text-white text-3xl lg:text-5xl md:text-4xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
			>
				Hola, soy Samuel, este es mi primer portfolio finalizado <a
					class="flex justify-center items-center"
					href="https://mail.google.com/mail/u/1?ui=2&ik=6b05a3367f&attid=0.1&permmsgid=msg-f:1775564135176133083&th=18a4122c7118d9db&view=att&disp=safe"
					target="_blank"
					rel="noopener"
				>
					<Badge>Actualmente no disponible, para saber más sobre mis carreras profesionales, pincha aquí...</Badge></a
				>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px] text-white">
				<span class="text-white">Ganando experiencia gracias a un programa situado en Cersia.</span><span class="text-green-300/80">
					Programador y Desarrollador web.</span
				>
				<span class="text-red-100/90"> Soy de Galicia, España.</span>
				Especializándome en crear y desarrollar proyectos audiovisuales.
			</h2>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px] text-white">
				Espero que os guste mi proyecto.
			</h2>
			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill
					href="https://www.linkedin.com/in/samuel-salazar-camacho-500301125/?originalSubdomain=es">
					<LinkedinIcon class="size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/SamuelSalazar25">
				<GitHub class="size-6" />
				GitHub
			</SocialPill>
			<SocialPill href="mailto:ssalcam.appventures@gmail.com">
				<Mail class="size-6" />
				ssalcam.appventures@gmail.com
				</SocialPill>
			</nav>
		</Section>

		<Section>
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-green-400/50">
				<BriefCase class="size-7" />
				Experiencia Laboral
			</h2>
			<Experience />
		</Section>

		<Section id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-green-400/50">
				<Code class="size-7" />
				Proyectos
			</h2>
			<Projects />
		</Section>
	</main>
</Layout>

<style>

	nav {
		color: #00ccf0;
	}
</style>